atlantis-url: {{ atlantis_url }}
port: {{ atlantis_port }}
gh-user: {{ atlantis_gh_user }}
gh-token: {{ atlantis_gh_token }}
gh-webhook-secret: {{ atlantis_gh_webhook_secret }}
repo-whitelist: {{ atlantis_repo_allowlist }}
default-tf-version: {{ atlantis_default_tf_version }}