[Unit]
Description=Oauth2 Proxy
After=syslog.target network.target

[Service]
ExecStart=/usr/local/bin/oauth2_proxy --config=/etc/oauth2-proxy/oauth2-proxy.cfg
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
